:root {
  --1: linear-gradient(90deg, #660202 50%, #66020200 10%);

  --2: linear-gradient(190deg, #1b5050 25%, #131313 75%);

  --3: linear-gradient(190deg, #ffffff 25%, #ffe600 75%);

  --4: linear-gradient(120deg, #1100ff 50%, #d10023 10%);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #fff3e3 !important;
  z-index: 0;
}

/* LG LAYER */
@media (max-width: 1499px) and (min-width: 700px) {
  .profilecard {
    border-radius: 10px;
    background-image: var(--4);
    width: 500px;
    height: 600px;
    margin: auto;
    background-size: 200%;
    animation: identifier 5s infinite alternate;
    box-shadow: 7px 8px 5px #0000002d, -7px -8px 5px #35353554, inset 3px 3px 5px #35353554, inset -3px -3px 5px #0000002d;
    border: 4px solid #1100ff !important ;
  }

  @keyframes identifier {
    0% {
      background-position: left;
    }

    100% {
      background-position: right;
    }
  }

  img.dots {
    margin-left: -5%;
    margin-top: -5%;
  }

  .insets {
    margin-top: -18% !important;
  }

  .image {
    text-align: center;
  }

  .heading {
    text-align: center;
    margin-top: -8%;
  }

  .descript {
    text-align: justify;
  }

  h1.name {
    font-size: 2em;
    font-weight: 800;
    background-image: var(--3);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    color: transparent;
    filter: drop-shadow(5px 5px -1px #140101);
    animation: identifier 5s infinite alternate;
  }

  .icons {
    text-align: center;
  }

  a.icon {
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    color: #ffd000;
  }

  a.icon:hover {
    font-size: 1.4em;
    cursor: pointer;
    transition: 0.3s;
    color: #fff3e3;
  }

  hr.garis {
    color: rgb(0, 0, 0);
    opacity: 100%;
    margin-left: 8%;
    margin-right: 12%;
  }

  p.descript {
    color: #ffd000;
    margin-left: -5%;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  button.btn-chek {
    border: 2px solid #660202 !important;
    color: #660202 !important;
    font-weight: 650;
    font-size: 0.9em;
    margin-left: 10%;
    padding-left: 27%;
    padding-right: 27%;
    transition: 0.3s;
  }

  button.btn-chek:hover {
    background: var(--1);
    border: 2px solid #ffd000 !important;
    color: #ffd000 !important;
    font-weight: 650;
    font-size: 0.9em;
    box-shadow: 2px 2px px #000000, -2px -2px 5px #353535, inset 2px 2px 5px #353535, inset -2px -2px 5px #000000;
    animation: key 5s infinite alternate;
    background-size: 200%;
    transition: 0.3 ease-in-out;
  }

  @keyframes key {
    0% {
      background-position: right;
      box-shadow: -1px -1px 4px #ffd000, 1px 1px 4px #ffd000;
    }

    50% {
      box-shadow: -1.5px -1.5px 8px #ffd000, 1.5px 1.5px 8px #ffd000;
    }

    100% {
      background-position: left;
      box-shadow: -1px -1px 2px #ffd000, 1px 1px 2px #ffd000;
    }
  }

  footer.copyright {
    margin-top: 8%;
    margin-left: -3%;
    margin-right: -3%;
    border-radius: 0 0 10px 10px;
    animation: identifier 1s infinite alternate;
  }

  .copyright {
    text-align: center;
  }

  p.copyright {
    background: var(--3);
    background-size: 200%;
    background-clip: text;
    font-weight: 600;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 0.6em;
    text-transform: uppercase;
    animation: identifier 1s infinite alternate;
  }

  svg.alien {
    width: 14px;
    height: 14px;
  }
}

/* MD LAYER */
@media (max-width: 699px) and (min-width: 400px) {
  .profilecard {
    border-radius: 10px;
    background-image: var(--4);
    width: 350px;
    height: 550px;
    margin: auto;
    margin-left: 18%;
    background-size: 200%;
    animation: identifier 5s infinite alternate;
    box-shadow: 5px 6px 5px #0000002d, -5px -6px 5px #35353554, inset 2px 2px 5px #35353554, inset -2px -2px 5px #0000002d;
    border: 4px solid #1100ff !important ;
  }

  img.dots {
    margin-left: -5%;
    margin-top: -6%;
  }

  .insets {
    margin-top: -30% !important;
  }

  @keyframes identifier {
    0% {
      background-position: left;
    }

    100% {
      background-position: right;
    }
  }

  .image {
    text-align: center;
    margin-left: -30%;
  }

  .heading {
    margin-top: -8%;
    margin-left: -32%;
  }

  .descript {
    text-align: justify;
  }

  h1.name {
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    background-image: var(--3);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    color: transparent;
    filter: drop-shadow(5px 5px -1px #140101);
    animation: identifier 5s infinite alternate;
  }

  .icons {
    text-align: center;
  }

  a.icon {
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s;
    color: #ffd000;
  }

  a.icon:hover {
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
    color: #fff3e3;
  }

  hr.garis {
    color: rgb(0, 0, 0);
    opacity: 100%;
    margin-left: 2%;
    margin-right: 33%;
  }

  p.descript {
    color: #ffd000;
    font-size: 0.7em;
    font-weight: 500;
    text-align: center;
    margin-left: -31%;
    text-transform: uppercase;
  }

  button.btn-chek {
    border: 2px solid #660202 !important;
    color: #660202 !important;
    font-weight: 650;
    font-size: 0.9em;
    margin-left: 11%;
    padding-left: 10%;
    padding-right: 10%;
    transition: 0.3s;
  }

  button.btn-chek:hover {
    background: var(--1);
    border: 2px solid #ffd000 !important;
    color: #ffd000 !important;
    font-weight: 650;
    font-size: 0.9em;
    margin-left: 11%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 2px 2px px #000000, -2px -2px 5px #353535, inset 2px 2px 5px #353535, inset -2px -2px 5px #000000;
    animation: key 5s infinite alternate;
    background-size: 200%;
    transition: 0.3 ease-in-out;
  }

  @keyframes key {
    0% {
      background-position: right;
      box-shadow: -1px -1px 4px #ffd000, 1px 1px 4px #ffd000;
    }

    50% {
      box-shadow: -1.5px -1.5px 8px #ffd000, 1.5px 1.5px 8px #ffd000;
    }

    100% {
      background-position: left;
      box-shadow: -1px -1px 2px #ffd000, 1px 1px 2px #ffd000;
    }
  }

  footer.copyright {
    margin-top: 4%;
    margin-left: -3%;
    margin-right: -3%;
    border-radius: 0 0 10px 10px;
    animation: identifier 1s infinite alternate;
  }

  .copyright {
    margin-left: -2%;
    text-align: center;
  }

  p.copyright {
    background: var(--3);
    background-size: 200%;
    background-clip: text;
    font-weight: 600;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 0.6em;
    text-transform: uppercase;
    animation: identifier 1s infinite alternate;
  }

  svg.alien {
    width: 12px;
    height: 12px;
  }
}

/* SM LAYER */
@media (max-width: 399px) and (min-width: 313px) {
  .profilecard {
    border-radius: 10px;
    background-image: var(--4);
    width: 310px;
    height: 545px;
    margin: auto;
    margin-left: 12%;
    background-size: 200%;
    animation: identifier 5s infinite alternate;
    box-shadow: 3px 4px 5pxpx #00000054, -3px -4px 5px #3535352d, inset 2px 2px 5px #3535352d, inset -2px -2px 5px #00000054;
    border: 4px solid #1100ff !important ;
  }

  @keyframes identifier {
    0% {
      background-position: left;
    }

    100% {
      background-position: right;
    }
  }

  img.dots {
    margin-left: -5%;
    margin-top: -5%;
  }

  .insets {
    margin-top: -30% !important;
  }

  .image {
    text-align: center;
    margin-left: -40%;
  }

  .heading {
    margin-top: -8%;
    margin-left: -40%;
  }

  .descript {
    text-align: justify;
  }

  h1.name {
    text-align: center;
    font-size: 1.25em;
    font-weight: 850;
    background-image: var(--3);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    color: transparent;
    filter: drop-shadow(5px 5px -1px #140101);
    animation: identifier 5s infinite alternate;
  }

  .icons {
    text-align: center;
  }

  a.icon {
    font-size: 0.7em;
    cursor: pointer;
    transition: 0.3s;
    color: #ffd000;
  }

  a.icon:hover {
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.3s;
    color: #fff3e3;
  }

  hr.garis {
    color: rgb(0, 0, 0);
    opacity: 100%;
    margin-left: -2%;
    margin-right: 39%;
  }

  p.descript {
    color: #ffd000;
    font-size: 0.65em;
    font-weight: 550;
    text-align: center;
    margin-left: -38%;
    text-transform: uppercase;
  }

  button.btn-chek {
    border: 2px solid #660202 !important;
    color: #660202 !important;
    font-weight: 650;
    font-size: 0.9em;
    margin-left: 9%;
    padding-left: 6%;
    padding-right: 10%;
    transition: 0.3s;
  }

  button.btn-chek:hover {
    background: var(--1);
    border: 2px solid #ffd000 !important;
    color: #ffd000 !important;
    font-weight: 650;
    font-size: 0.9em;
    box-shadow: 2px 2px px #000000, -2px -2px 5px #353535, inset 2px 2px 5px #353535, inset -2px -2px 5px #000000;
    animation: key 5s infinite alternate;
    background-size: 200%;
    transition: 0.3 ease-in-out;
  }

  @keyframes key {
    0% {
      background-position: right;
      box-shadow: -1px -1px 4px #ffd000, 1px 1px 4px #ffd000;
    }

    50% {
      box-shadow: -1.5px -1.5px 8px #ffd000, 1.5px 1.5px 8px #ffd000;
    }

    100% {
      background-position: left;
      box-shadow: -1px -1px 2px #ffd000, 1px 1px 2px #ffd000;
    }
  }

  footer.copyright {
    margin-top: 4%;
    margin-left: -3%;
    margin-right: -3%;
    border-radius: 0 0 10px 10px;
    animation: identifier 1s infinite alternate;
  }

  .copyright {
    text-align: center;
  }

  p.copyright {
    background: var(--3);
    background-size: 200%;
    background-clip: text;
    font-weight: 600;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 0.5em;
    text-transform: uppercase;
    animation: identifier 1s infinite alternate;
  }

  svg.alien {
    width: 10px;
    height: 10px;
  }
}
